<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'includes/css.html' %}
    {% block links %}{% endblock %}
    <title>{% block title %}Songskeep{% endblock %}</title>
</head>
<body>
    {% include 'includes/index_navbar.html' %}

{% block content %}{% endblock %}

{% include 'includes/footer.html' %}
{% include 'includes/js.html' %}
<script src="{% static 'js/services.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>